
  

  <!--<div class="videooverlay">
      <video id="videobcg" preload="auto" autoplay="true" loop="loop" controls="false" poster="/img/warehouse.jpg">
          
          <source src="/img/wuzek.mp4" type="video/mp4">
          
          Sorry, your browser does not support HTML5 video.
    </video>    
  </div>   -->

  <div class="side_header">
    <div class="sidenav_fixed">
      <h1 class="side_logo">bitREC</h1>
      <div class="side_nav">
        <ul>
          <li><a href="#top" scroll-to-item scroll-to='#top'>Top</a></li>
          <li><a href="#services" scroll-to-item scroll-to='#services'>Services</a></li>
          <li><a href="#stats" scroll-to-item scroll-to='#stats'>Statistics</a></li>
          <li><a href="#smartHRO" scroll-to-item scroll-to='#smartHRO'>smartHRO</a></li>
          <li><a href="#manage" scroll-to-item scroll-to='#manage'>Management</a></li>
          <li><a href="#contact" scroll-to-item scroll-to='#contact'>Contact Us</a></li>
        </ul>
      
      </div>
    </div>
  </div> 
<scroll>
<section id='top' class="bg-first">
  
    <div class="row">
      <div class="col s12 m12 l8 offset-l3 offset-m1">
        <h1 class="hometitle anim-enter-left"><span >Workforce Outsourcing</span></br><span>for all your needs</span></h1>
        
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12 l4 offset-l3 offset-m1 hire_margin">
        <a class='hire' ui-sref="hire" title="hire">Workforce Hire<i class='ion-chevron-right'></i></a>
      </div>
      <div class="col s12 m12 l4 offset-m1 join_margin">
        <a class='join' ui-sref="register" title="join">Join Workforce<i class='ion-chevron-right'></i></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col m12 l6 offset-l2 offset-m3">
      <div class="testimonial-img-wrapper">
        <img src="../img/sunmark-logo.jpg" class="logo-testimonial">
        <img src="../img/mohan-face.jpg" class="img-testimonial">
      </div>
      <p class="bubble">LORWE sdfsdfm  efkkd df sdfjkf s  sdkfk sdfkdi dd idf kf sw osdofddd  dik dodo  sddd ddd
        LORWE sdfsdfm  efkkd df sdfjkf s  sdkfk sdfkdi dd idf kf sw osdofddd  dik dodo  sddd ddd</p>
    </div>

    <div class="col m12 l3">
      <div class="flex-video">
         <iframe width="420" height="315" allowfullscreen
          src="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=0">
         </iframe>
      </div>
    </div>

    
 
</section>
<section id='services' class="bg-second">
  <div class="row">
    <div class="col m12 l3 offset-l1">
      <div id="Stage" class="EDGE-18874219">
  
        <div id="Stage_Rectangle2" class="edgeLoad-EDGE-18874219"></div>
        <div id="Stage_piechart" class="edgeLoad-EDGE-18874219"></div>
        <div id="Stage_wedge_container" class="edgeLoad-EDGE-18874219">
            <div id="Stage_wedge" class="edgeLoad-EDGE-18874219"></div>
        </div>
        <div id="Stage_anim_people" class="edgeLoad-EDGE-18874219">
            <div id="Stage_anim_people_person2Copy8"></div>
            <div id="Stage_anim_people_person2Copy7"></div>
            <div id="Stage_anim_people_person2Copy6"></div>
            <div id="Stage_anim_people_person2Copy5"></div>
            <div id="Stage_anim_people_person2Copy3"></div>
            <div id="Stage_anim_people_person2Copy4"></div>
            <div id="Stage_anim_people_person2Copy2"></div>
            <div id="Stage_anim_people_person2"></div>
            <div id="Stage_anim_people_personCopy5"></div>
            <div id="Stage_anim_people_personCopy6"></div>
            <div id="Stage_anim_people_personCopy7"></div>
            <div id="Stage_anim_people_personCopy8"></div>
            <div id="Stage_anim_people_personCopy9"></div>
            <div id="Stage_anim_people_personCopy4"></div>
            <div id="Stage_anim_people_personCopy3"></div>
            <div id="Stage_anim_people_personCopy2"></div>
            <div id="Stage_anim_people_personCopy"></div>
            <div id="Stage_anim_people_person"></div>
        </div>
        <div id="Stage__32" class="edgeLoad-EDGE-18874219">32%</div>
        <div id="Stage_inthe" class="edgeLoad-EDGE-18874219">in the first sample</div>
        <div id="Stage_this_next" class="edgeLoad-EDGE-18874219">This next animation respresents 76% of first sample</div>
        <div id="Stage_line" class="edgeLoad-EDGE-18874219"></div>
      </div>
    </div>
    <div class="col m12 l3">
      <img src="../img/chartkarton.svg" >
    </div>
  </div>
  
</section>
<section id='stats' class="bg-second">
  <div class="row">
    <div class="col m12 l3 offset-l1">
      
    </div>
    <div class="col m12 l3">
      <img src="../img/chartkarton.svg" >
    </div>
  </div>
  
</section>
<section id='smartHRO' class="bg-second">
  <div class="row">
    <div class="col m12 l3 offset-l1">
      
    </div>
    <div class="col m12 l3">
      <img src="../img/chartkarton.svg" >
    </div>
  </div>
  
</section>
<section id='manage' class="bg-second">
  <div class="row">
    <div class="col m12 l3 offset-l1">
      
    </div>
    <div class="col m12 l3">
      <img src="../img/chartkarton.svg" >
    </div>
  </div>
  
</section>
<section id='contact' class="bg-second">
  <div class="row">
    <div class="col m12 l3 offset-l1">
      
    </div>
    <div class="col m12 l3">
      <img src="../img/chartkarton.svg" >
    </div>
  </div>
  
</section>

</scroll>
