<style type="text/css">
      .debug {
        width: 28%;
         float: right;
      }

</style>


  

  <div class="container" ng-switch='register.step'>
    
    <div class="row" ng-switch-when="1">
      <div class="col s12 center">
         <h1>Select your prefered language</h1>
         <h1>Wybież jezyk ktory bardziej ci odpowiada.</h1>
        

         
      </div>
      <div class="row">
        <div class="col s12 m3 l3 offset-l1">
          <a ng-click="advanceLanguage('en')"><img src="./img/gb2.svg" alt="britishflag"></a>
         <h6 class="center">English</h6>
        </div>
        <div class="col s12 m3 l3">
          <a ng-click="advanceLanguage('pl')"><img src="./img/pl.svg" alt="polishflag"></a>
          <h6 class="center">Polski</h6>
        </div>
        <div class="col s12 m3 l3">
          <a ng-click="advanceLanguage('ro')"><img src="./img/ro.svg" alt="romanianflag"></a>
          <h6 class="center">Română</h6>
        </div>
      </div>
     
      
       
     

    </div>
    <div class="row" ng-switch-when="2">
      <div class="col s12 center">
         <h1 translate>SKILLS</h1>


         <button class="btn waves-effect waves-light" ng-click="advance()" ng-disabled="is all data filled in?">
                  {{'NEXT_PAGE' | translate}}<i class="material-icons">send</i>
         </button>
         <button class="btn waves-effect waves-light" ng-click="goback()" ng-disabled="is all data filled in?">
          <i class="material-icons">send</i>{{'PREV_PAGE' | translate}} 
         </button>    
      </div>
     

    </div> 



    <form method='post' enctype='multipart/form-data' ng-submit='register.doSignup()' class="col s12">
      <div class="row" ng-switch-when="3">
       
          <div class="row">
            <div class="input-field col s12 m6 l4">
              <i class="material-icons prefix">account_circle</i>
              <input id="icon_prefix" type="text" class="validate" ng-model='jobseeker.first_name'>
              <label for="icon_prefix" translate>FIRST_NAME</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <i class="material-icons prefix">account_circle</i>
              <input id="icon_lastname" type="text" class="validate" ng-model='jobseeker.last_name'>
              <label for="icon_lastname" translate>LAST_NAME</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12 m6 l4">
              <i class="material-icons prefix">email</i>
              <input id="icon_email" type="email" class="validate" ng-model='jobseeker.email_id'>
              <label for="icon_email" translate>EMAIL</label>
            </div>       
            <div class="input-field col s12 m6 l4">
              <i class="material-icons prefix">email</i>
              <input id="icon_reemail" type="email" class="validate" ng-model='register.reemail'>
              <label for="icon_reemail" translate>RE_EMAIL</label>
            </div>
          </div>

           <div class="row">
            <div class="input-field col s12 m6 l4">
              <i class="material-icons prefix">today</i>
               <select form-select ng-model='jobseeker.age'>
                  <option value="" disabled selected>0</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                  <option value="32">32</option>
                  <option value="33">33</option>
                  <option value="34">34</option>
                  <option value="35">35</option>
                  <option value="36">36</option>
                  <option value="37">37</option>
                  <option value="38">38</option>
                  <option value="39">39</option>
                  <option value="40">40</option>
                  <option value="41">41</option>
                  <option value="42">42</option>
                  <option value="43">43</option>
                  <option value="44">44</option>
                  <option value="45">45</option>
                  <option value="46">46</option>
                  <option value="47">47</option>
                  <option value="48">48</option>
                  <option value="49">49</option>
                  <option value="50">50</option>
                  <option value="51">51</option>
                  <option value="52">52</option>
                  <option value="53">53</option>
                  <option value="54">54</option>
                  <option value="55">55</option>
                  <option value="56">56</option>
                  <option value="57">57</option>

                </select>
                <label translate>AGE_LABEL</label>
            
             </div>
             <div class="input-field col s12 m6 l4">
              <i class="material-icons prefix">today</i>
              <select form-select  ng-model='jobseeker.nationality'>
                <option value="" disabled selected>Choose your Nationality</option>              
                <option value="" disabled>-------------------------EEU---</option>
                <option value="polish">Polish</option>
                <option value="" disabled>-------------------------------</option>
                <option value="afghan">Afghan</option>
                <option value="albanian">Albanian</option>
                <option value="algerian">Algerian</option>
                <option value="american">American</option>
                <option value="andorran">Andorran</option>
                <option value="angolan">Angolan</option>
                <option value="antiguans">Antiguans</option>
                <option value="argentinean">Argentinean</option>
                <option value="armenian">Armenian</option>
                <option value="australian">Australian</option>
                <option value="austrian">Austrian</option>
                <option value="azerbaijani">Azerbaijani</option>
                <option value="bahamian">Bahamian</option>
                <option value="bahraini">Bahraini</option>
                <option value="bangladeshi">Bangladeshi</option>
                <option value="barbadian">Barbadian</option>
                <option value="barbudans">Barbudans</option>
                <option value="batswana">Batswana</option>
                <option value="belarusian">Belarusian</option>
                <option value="belgian">Belgian</option>
                <option value="belizean">Belizean</option>
                <option value="beninese">Beninese</option>
                <option value="bhutanese">Bhutanese</option>
                <option value="bolivian">Bolivian</option>
                <option value="bosnian">Bosnian</option>
                <option value="brazilian">Brazilian</option>
                <option value="british">British</option>
                <option value="bruneian">Bruneian</option>
                <option value="bulgarian">Bulgarian</option>
                <option value="burkinabe">Burkinabe</option>
                <option value="burmese">Burmese</option>
                <option value="burundian">Burundian</option>
                <option value="cambodian">Cambodian</option>
                <option value="cameroonian">Cameroonian</option>
                <option value="canadian">Canadian</option>
                <option value="cape verdean">Cape Verdean</option>
                <option value="central african">Central African</option>
                <option value="chadian">Chadian</option>
                <option value="chilean">Chilean</option>
                <option value="chinese">Chinese</option>
                <option value="colombian">Colombian</option>
                <option value="comoran">Comoran</option>
                <option value="congolese">Congolese</option>
                <option value="costa rican">Costa Rican</option>
                <option value="croatian">Croatian</option>
                <option value="cuban">Cuban</option>
                <option value="cypriot">Cypriot</option>
                <option value="czech">Czech</option>
                <option value="danish">Danish</option>
                <option value="djibouti">Djibouti</option>
                <option value="dominican">Dominican</option>
                <option value="dutch">Dutch</option>
                <option value="east timorese">East Timorese</option>
                <option value="ecuadorean">Ecuadorean</option>
                <option value="egyptian">Egyptian</option>
                <option value="emirian">Emirian</option>
                <option value="equatorial guinean">Equatorial Guinean</option>
                <option value="eritrean">Eritrean</option>
                <option value="estonian">Estonian</option>
                <option value="ethiopian">Ethiopian</option>
                <option value="fijian">Fijian</option>
                <option value="filipino">Filipino</option>
                <option value="finnish">Finnish</option>
                <option value="french">French</option>
                <option value="gabonese">Gabonese</option>
                <option value="gambian">Gambian</option>
                <option value="georgian">Georgian</option>
                <option value="german">German</option>
                <option value="ghanaian">Ghanaian</option>
                <option value="greek">Greek</option>
                <option value="grenadian">Grenadian</option>
                <option value="guatemalan">Guatemalan</option>
                <option value="guinea-bissauan">Guinea-Bissauan</option>
                <option value="guinean">Guinean</option>
                <option value="guyanese">Guyanese</option>
                <option value="haitian">Haitian</option>
                <option value="herzegovinian">Herzegovinian</option>
                <option value="honduran">Honduran</option>
                <option value="hungarian">Hungarian</option>
                <option value="icelander">Icelander</option>
                <option value="indian">Indian</option>
                <option value="indonesian">Indonesian</option>
                <option value="iranian">Iranian</option>
                <option value="iraqi">Iraqi</option>
                <option value="irish">Irish</option>
                <option value="israeli">Israeli</option>
                <option value="italian">Italian</option>
                <option value="ivorian">Ivorian</option>
                <option value="jamaican">Jamaican</option>
                <option value="japanese">Japanese</option>
                <option value="jordanian">Jordanian</option>
                <option value="kazakhstani">Kazakhstani</option>
                <option value="kenyan">Kenyan</option>
                <option value="kittian and nevisian">Kittian and Nevisian</option>
                <option value="kuwaiti">Kuwaiti</option>
                <option value="kyrgyz">Kyrgyz</option>
                <option value="laotian">Laotian</option>
                <option value="latvian">Latvian</option>
                <option value="lebanese">Lebanese</option>
                <option value="liberian">Liberian</option>
                <option value="libyan">Libyan</option>
                <option value="liechtensteiner">Liechtensteiner</option>
                <option value="lithuanian">Lithuanian</option>
                <option value="luxembourger">Luxembourger</option>
                <option value="macedonian">Macedonian</option>
                <option value="malagasy">Malagasy</option>
                <option value="malawian">Malawian</option>
                <option value="malaysian">Malaysian</option>
                <option value="maldivan">Maldivan</option>
                <option value="malian">Malian</option>
                <option value="maltese">Maltese</option>
                <option value="marshallese">Marshallese</option>
                <option value="mauritanian">Mauritanian</option>
                <option value="mauritian">Mauritian</option>
                <option value="mexican">Mexican</option>
                <option value="micronesian">Micronesian</option>
                <option value="moldovan">Moldovan</option>
                <option value="monacan">Monacan</option>
                <option value="mongolian">Mongolian</option>
                <option value="moroccan">Moroccan</option>
                <option value="mosotho">Mosotho</option>
                <option value="motswana">Motswana</option>
                <option value="mozambican">Mozambican</option>
                <option value="namibian">Namibian</option>
                <option value="nauruan">Nauruan</option>
                <option value="nepalese">Nepalese</option>
                <option value="new zealander">New Zealander</option>
                <option value="ni-vanuatu">Ni-Vanuatu</option>
                <option value="nicaraguan">Nicaraguan</option>
                <option value="nigerien">Nigerien</option>
                <option value="north korean">North Korean</option>
                <option value="northern irish">Northern Irish</option>
                <option value="norwegian">Norwegian</option>
                <option value="omani">Omani</option>
                <option value="pakistani">Pakistani</option>
                <option value="palauan">Palauan</option>
                <option value="panamanian">Panamanian</option>
                <option value="papua new guinean">Papua New Guinean</option>
                <option value="paraguayan">Paraguayan</option>
                <option value="peruvian">Peruvian</option>   
                <option value="portuguese">Portuguese</option>
                <option value="qatari">Qatari</option>
                <option value="romanian">Romanian</option>
                <option value="russian">Russian</option>
                <option value="rwandan">Rwandan</option>
                <option value="saint lucian">Saint Lucian</option>
                <option value="salvadoran">Salvadoran</option>
                <option value="samoan">Samoan</option>
                <option value="san marinese">San Marinese</option>
                <option value="sao tomean">Sao Tomean</option>
                <option value="saudi">Saudi</option>
                <option value="scottish">Scottish</option>
                <option value="senegalese">Senegalese</option>
                <option value="serbian">Serbian</option>
                <option value="seychellois">Seychellois</option>
                <option value="sierra leonean">Sierra Leonean</option>
                <option value="singaporean">Singaporean</option>
                <option value="slovakian">Slovakian</option>
                <option value="slovenian">Slovenian</option>
                <option value="solomon islander">Solomon Islander</option>
                <option value="somali">Somali</option>
                <option value="south african">South African</option>
                <option value="south korean">South Korean</option>
                <option value="spanish">Spanish</option>
                <option value="sri lankan">Sri Lankan</option>
                <option value="sudanese">Sudanese</option>
                <option value="surinamer">Surinamer</option>
                <option value="swazi">Swazi</option>
                <option value="swedish">Swedish</option>
                <option value="swiss">Swiss</option>
                <option value="syrian">Syrian</option>
                <option value="taiwanese">Taiwanese</option>
                <option value="tajik">Tajik</option>
                <option value="tanzanian">Tanzanian</option>
                <option value="thai">Thai</option>
                <option value="togolese">Togolese</option>
                <option value="tongan">Tongan</option>
                <option value="trinidadian or tobagonian">Trinidadian or Tobagonian</option>
                <option value="tunisian">Tunisian</option>
                <option value="turkish">Turkish</option>
                <option value="tuvaluan">Tuvaluan</option>
                <option value="ugandan">Ugandan</option>
                <option value="ukrainian">Ukrainian</option>
                <option value="uruguayan">Uruguayan</option>
                <option value="uzbekistani">Uzbekistani</option>
                <option value="venezuelan">Venezuelan</option>
                <option value="vietnamese">Vietnamese</option>
                <option value="welsh">Welsh</option>
                <option value="yemenite">Yemenite</option>
                <option value="zambian">Zambian</option>
                <option value="zimbabwean">Zimbabwean</option>
              </select>
              <label>Your Nationality</label>
          </div>
        </div>
         
           <div class="row">
            <div class="input-field col s12 m6 l4">
              <select form-select ng-model='jobseeker.campaign_id' ng-options="campaign.campaign_id for campaign in campaigns" ng-init="form.type=campaigns[0].value"></select>
              <label>Job reference number</label>
            </div>
            <div class="input-field col s12 m6 l4">
               <select form-select ng-model='jobseeker.position' ng-options="position.position_name for position in positions" ng-init="form.type=positions[0].value"></select>
              <label>Position type</label>
            </div>
          </div>
            

          <div class="row">
            <div class="input-field col s12 m6 l4">
              <i class="material-icons prefix">phone</i>
              <input id="icon_phone" type="tel" class="validate" ng-model='jobseeker.contact_no'>
              <label for="icon_phone">Contact number</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <i class="material-icons prefix">store</i>
              <input id="icon_postal" type="text" class="validate" ng-model='jobseeker.postal_code'>
              <label for="icon_postal">Postal code</label>
            </div>
          </div>

          
            
         
          <div class="row">
            <div class="col s12 m6 l4">
               
                <input type="file" name='file' file-model='jobseeker.file'/>
                      
              </div>
          </div>
               

             
                
        
         <button class="btn waves-effect waves-light" ng-click="advance()" ng-disabled="is all data filled in?">
            Next Step <i class="material-icons">send</i>
         </button> 
          <button class="btn waves-effect waves-light" ng-click="goback()" ng-disabled="is all data filled in?">
          <i class="material-icons">send</i>Step back 
         </button>      
       
    </div> 
     

       <div class="row" ng-switch-when="4">
         
           <h4 class="center">Please tell us when can you start working ?</h4>
           
                <div class="row">
                  <div class="col s12 m6 l4">
                    <h5>Your employment status :</h5>
                   
                      <p>
                        <input name="status" type="radio" id="status1" value="1" ng-model='jobseeker.employement_status'/>
                        <label for="status1">Free to start at any time.</label>
                      </p>
                      <p>
                        <input name="status" type="radio" id="status2" value="2" ng-model='jobseeker.employement_status'/>
                        <label for="status2">Recently under leave period from my last employer.</label>
                      </p>
                      <p>
                        <input name="status" type="radio" id="status3" value="3" ng-model='jobseeker.employement_status'/>
                        <label for="status3">Employed, but looking to change work at any time.</label>
                      </p>
                      <p>
                        <input name="status" type="radio" id="status4" value="4" ng-model='jobseeker.employement_status'/>
                        <label for="status4">Looking for extra work, as working for anither agency same time.</label>
                      </p>
                   
                     
                   </div>
                </div>
                <div class="row">
                  <div class="col s12 m6 l4">
                    <h5>Your availability to work :</h5>
                   
                      <p>
                        <input name="avail" type="radio" id="avail1" value='1' ng-model='jobseeker.when_to_start_work'/>
                        <label for="avail1">I am free now, can start anytime.</label>
                      </p>
                      <p>
                        <input name="avail" type="radio" id="avail2" value='2' ng-model='jobseeker.when_to_start_work'/>
                        <label for="avail2">Can start from monday next week.</label>
                      </p>
                      <p>
                        <input name="avail" type="radio" id="avail3" value='3' ng-model='jobseeker.when_to_start_work'/>
                        <label for="avail3">I will be free in less than a weeks time.</label>
                      </p>
                      <p>
                        <input name="avail" type="radio" id="avail4" value='4' ng-model='jobseeker.when_to_start_work'/>
                        <label for="avail4">I need more than a week to organize myself for work.</label>
                      </p>
                   
                  </div>
                </div>
                 <div class="row">
                  <div class="col s12 m6 l4">
                    <h5>Did you work for bitREC before? </h5>
                   
                      <p>
                        <input name="worked" type="radio" id="yes" value='1' ng-model='jobseeker.worked_before'/>
                        <label for="yes">Yes.</label>
                      </p>
                      <p>
                        <input name="worked" type="radio" id="no" value='2' ng-model='jobseeker.worked_before'/>
                        <label for="no">No.</label>
                      </p>
                      
                   
                  </div>
                </div>      
           
               <div class="row">
                   <div class="col s12 m6 l4">
                  
                     
                    <button class="btn waves-effect waves-light" ng-click="goback()" ng-disabled="is all data filled in?">
                      <i class="material-icons">send</i>Step back 
                    </button>    
                    <button class="btn waves-effect waves-light"  ng-click="advance()" ng-disabled="is all data filled in?">
                      Next Step <i class="material-icons">send</i>
                    </button>  
                   </div>
                </div>
           
        </div>

        <div class="row" ng-switch-when="5">
         
           
            <h4 class="center">Describe you English Language communication skills</h4>
           
                <div class="row">
                  <div class="col s12 m6 l4">
                    <h5>How would you rate your communication skills in English?</h5>
                   
                      <p>
                        <input name="lang" type="radio" id="lang1" value='1' ng-model='jobseeker.english_level'/>
                        <label for="lang1">Fully communicative.</label>
                      </p>
                      <p>
                        <input name="lang" type="radio" id="lang2" value='2' ng-model='jobseeker.english_level'/>
                        <label for="lang2">I think my English is good enough.</label>
                      </p>
                      <p>
                        <input name="lang" type="radio" id="lang3" value='3' ng-model='jobseeker.english_level'/>
                        <label for="lang3">I can unserstand most, but speaking give me a problems.</label>
                      </p>
                      
                     
                   </div>
                </div>
                
                    
                
                  <div class="row">
                     <div class="col s12 m6 l4">
                    
                       <button class="btn waves-effect waves-light" type="submit" name="action" >Submit </button> 
                          
                       
                        <button class="btn waves-effect waves-light" ng-click="goback()" ng-disabled="is all data filled in?">
                          <i class="material-icons">send</i>Step back 
                        </button>    
                      
                      </div>
                  </div>
             
        </div>
     
     
        


     
     
   </form>
  </div>
